<div style="background-image: linear-gradient(165deg, #f7f5fb 50%, #fff 50%);">
    <div class="container px-4 px-md-3" style="padding: 5rem 0;">
        <div class="row">
            <div class="col text-center">
                <h1 class="header-text">¿Quien soy?</h1>
                <p class="body-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie purus eu tincidunt iaculis.
                    Nulla facilisi. Aliquam erat volutpat. In hac habitasse platea dictumst. Aliquam cursus lectus
                    tortor, congue facilisis lacus ultricies eu. Ut vitae mollis augue. Quisque diam libero, venenatis
                    vel ultricies non, convallis quis nibh. Suspendisse potenti. Phasellus urna mi, dapibus eget aliquam
                    nec, scelerisque maximus massa.

                    Curabitur a facilisis nulla. Nam et dui ut nunc gravida tincidunt quis sed diam. Sed vulputate
                    accumsan egestas. Mauris blandit lacus sed ultricies porttitor. Aliquam maximus nunc magna, eu
                    suscipit ipsum condimentum in. Fusce pretium sem vitae orci hendrerit, at malesuada ex pulvinar.
                    Phasellus finibus sapien id condimentum molestie. </p>
            </div>
        </div>
    </div>
</div>