<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[0]" alt="Random first slide" class="img-fluid">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[1]" alt="Random second slide" class="img-fluid">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="col-12 col-md-8">LOREM</div>
    </div>
</div>